# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/IEX2010/IEX2010.vcxproj.filters
/IEX2010/Debug
/IEX2010/IEX2010.sdf
/IEX2010/IEX2010.v12.suo
